
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

div.table-side {
  width: 10px;
  height: 2px;
}

a.link {
  color: Blue;
  font-family: Verdana;
  font-size: 11px;
}

.stiLeftPanel {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    font-family: Arial;
    font-size: 12px;
    float: left;
    width: 170px;    
    background: #19478a;
    color: #ffffff;
}

.stiLogo {
    font-size: 18px;
    white-space: nowrap;
    background: #11315f;
    height: 40px;
    font-family: Arial;
    cursor: pointer;
}

.stiLeftPanelItem { 
    height: 40px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.stiLeftPanelItem:hover {
    background: #3b629b;
}

.stiLeftPanelItemSeparator {
    background: #3b629b;
    height: 1px;
}

.stiReportsContainer{
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0px;
    overflow: auto;
    float: left;
    width: 170px;
}

.stiCategoryHeader {
    font-size: 12px;
    white-space: nowrap;
    font-family: Arial;
    padding: 15px 0 3px 10px;
    border-bottom: 1px solid #3b629b;
}

.stiRightPanel {
   margin-left: 170px;
   height: 100%;
   position: relative;
}

/*Report Button*/
.stiReportButton {
}

.stiReportButtonOver {
	background: #3b629b;
}

.stiReportButtonSelected {
	background: #11315f;
}

/*Button*/
.stiButton {
    font-family: Arial;
    font-size: 12px;
}

.stiButton:hover {
    background: #d5e1f2;
}

/*Image Rotate*/
.stiImageRotate {
    position: absolute;   
    width: 16px;
    height: 16px;
    -webkit-animation:spin 0.2s linear 1;
    -moz-animation:spin 0.2s linear 1;
    animation:spin 0.2s linear 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }