@page
@model Example.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stimulsoft Reports.JS - ASP.NET Demo</title>

    <!-- Stimulsoft Dashboards.JS -->
    <script src="Scripts/stimulsoft.reports.js" type="text/javascript"></script>
    <script src="Scripts/stimulsoft.dashboards.js" type="text/javascript"></script>
    <script src="Scripts/stimulsoft.viewer.js" type="text/javascript"></script>
</head>
<body>
    <div id="viewer"></div>

    <script>
        function onSelectReport() {
            // Create a new dashboard instance and load dashboard from server
            var report = Stimulsoft.Report.StiReport.createNewDashboard();
            report.loadFile("/GetDashboard");
            // In `onBeginProcessData` event handler add custom HTTP headers
            report.onBeginProcessData = args => {
                if (args.database === "JSON" && args.command === "GetData" && args.pathData && args.pathData.endsWith("/GetJson")) {
                    // Add custom header to pass through server protection
                    args.headers.push({ key: "X-Auth-Token", value: "*YOUR TOKEN*" });
                }
            };
            // Adjust database PathData to always link to our server
            report.dictionary.databases.getByIndex(0).pathData = `${window.location.origin}/GetJson`;

            // View dashboard in Viewer
            var viewer = new Stimulsoft.Viewer.StiViewer(null, "StiViewer", false);
            viewer.report = report;
            viewer.renderHtml("viewer");
        }
        onSelectReport();
    </script>
</body>
</html>
